:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#purchase-table {
  background: linear-gradient(to right, #bfbfbf, #01dad2);
}

.title {
  text-decoration: underline;
}

.column-1,
.column-2 {
  font-weight: 900;
}

.total .column-3,
.total .column-4,
.total .column-5,
.total .column-6 {
  border: 1px solid #ff4d00;
}
